:root {
  --primary-color: #007bff;
  --primary-hover-color: #0056b3;
  --danger-color: #dc3545;
  --danger-hover-color: #c82333;
  --background-color: #f0f0f0;
  --container-max-width: 800px;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.container {
  max-width: var(--container-max-width);
  margin: 50px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.containt {
  padding: 20px;
}

h1 {
  font-size: 24px;
  text-align: center;
}

h3 {
  font-size: 18px;
}

input[type="text"] {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-hover-color);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

td button {
  padding: 5px 10px;
  background-color: var(--danger-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

td button:hover {
  background-color: var(--danger-hover-color);
}
